*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:darkred;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.inicio{
  display: flex;
  flex-direction: column;
}

#area-texto{
  width: 500px;
  height: 300px;
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  background: #fff;
  color: black;
  box-shadow: 0 2px 20px black;
  resize:none;
}

#texto::-webkit-input-placeholder{
   color:#fff; 
  }

button, input{
  background-color: dimgray;  
  height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0 2px 20px black;
  font-weight: 900;
  border: 1px solid #3e3b3f;
  text-align: center;
}

